{% extends 'base.html.twig' %}

{% block title %}Âge - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/age.css') }}">
{% endblock %}

{% block body %}
    <p>
        Vous êtes né(e) en {{ birthYear }}.
    </p>
    <p>
        Nous sommes en {{ year }}.
    </p>
    <p>
        Cette année vous avez ou vous aurez {{ age }}.
    </p>
{% endblock %}